<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1"/>
      <meta http-equiv="x-ua-compatible" content="ie=edge"/>
      <title>Emojo Smackdown 🤌🏻</title>
      <link rel="icon" href="{{ url_for('static', filename= 'images/favicon.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
   </head>
   <body>
      <div id="root">
         <button id="mode-toggle" class="mode-toggle">Normal Mode</button>
         <audio id="background-music" loop>
            <source src="{{ url_for('static', filename= 'bgm/bgm.mp3') }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <button id="audio-control-btn">🔇</button>        
        
         <h1 class="ff-8bit">😤😮‍💨😤😮‍💨Let's play EMOJO SMACKDOWN 😤😮‍💨😤😮‍💨</h1>
         <p class="instructions">Play this game for funsies</p>
         <div class="game-container">
            <div class="player">
               <h2 class="player-headline"><span class="nick">You</span> <span class="score" id="score1">0</span></h2>
               <div class="player-container">
                  <video id="player-video" class="player-video"  playsinline></video>
                  <button id="capture-btn">Capture</button> <!-- Capture Button -->
                  <div class="player-hand-container">
                     <div id="player-hand" class="player-hand"></div>
                  </div>
               </div>
            </div>
            <div class="player">
               <h2 class="player-headline"><span class="nick">CPU</span> <span class="score" id="score2">0</span></h2>
               <div class="robot-container"><img id="robot" class="avatar" src="../static/cat_images/10.jpeg" alt="" width=100% height=100%> <img id="robot-hand" class="robot-hand" alt=""></div>
            </div>
            <div class="messages"><span id="message"  ></span></div>
         </div>
      </div>
      <script src="{{ url_for('static', filename= 'js/weather.js') }}"></script>
      <div id="weather-block">

     </div>
     
      <script src="{{ url_for('static', filename= 'js/webcam.js') }}"></script><script src="{{ url_for('static', filename= 'js/cat_image.js') }}"></script>
   </body>
</html>